[submodule "renderkit"]
	path = renderkit
	url = https://github.com/charlottia/zig-renderkit
[submodule "gamekit/deps/imgui/cimgui"]
	path = gamekit/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
